@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&family=Lexend+Exa:wght@100..900&family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

/* Color palette non-functional class */
.COLOR-PALETTE {
    color: #222831;
    color: #393E46;
    color: #FFD369;
    color: #EEEEEE;
}

/* Basic configurations */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    background-color: #222831;
    color: #EEEEEE;
    font-family: "Biryani", sans-serif;
    font-weight: 200;
    font-size: 24px;
    text-align: center;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* Dots under buttons */
button+div {
    height: 0px;
    color: #FFD369;
    font-size: 32px;
}

article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 256px;
}

a {
    transition: text-decoration-color ease-out 0.3s;
    text-decoration-color: transparent;
    color: rgba(255, 210, 105, 0.5);
}

a:hover {
    text-decoration-color: rgba(255, 210, 105, 0.5);
}

h1 {
    font-family: "Rubik Doodle Shadow", system-ui;
    font-size: 32px;
    letter-spacing: 10px;
    color: #FFD369;
}

header {
    width: 100%;
    display: flex;
    gap: 64px;
    align-items: center;
    justify-content: center;
}

header div {
    display: flex;
    justify-content: center;
}

header button {
    color: #EEEEEE;
    width: 125px;
    height: auto;
    border: 2px solid #FFD369;
    border-radius: 16px;
    font-size: 16px;
}

footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    color: rgba(238, 238, 238, 0.5);
    font-size: 16px;
    margin-block: 24px;
    padding-inline: 32px;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Please, god have mercy on me for this fucking abomination */
button {
    transition: border ease-out 0.1s;
    width: 150px;
    height: 150px;
    font-size: 64px;
    padding: 15px;
    border: 3px solid #FFD369;
    border-radius: 100%;
    background-color: transparent;
}

.tooltip,
.counterweight {
    width: 50px;
    height: 50px;
}

.tooltip {
    font-size: 25px;
    padding: 5px;
    /* margin-right: 32px; */
    border: 2px solid #FFD369;
    border-radius: 100%;
    color: rgba(238, 238, 238, 0.5);
}

.tooltiptext {
    transition: opacity ease-out 0.3s;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 300px;
    bottom: 100px;
    right: 50px;
    text-align: left;
    font-size: 12px;
}

.help {
    display: flex;
}

#title {
    margin-left: 18px;
}

.water,
.plank,
.fire,
#fire {
    font-family: "Noto Color Emoji", sans-serif;
}

#playerChoice button:active {
    border: 15px double #EEEEEE;
}

.connected {
    background-color: green;
    border: 3px solid green;
}

.draw {
    border: 15px double #EEEEEE;
}

.winner {
    border: 15px double green;
}

.loser {
    border: 15px double red;
}

/* Some mobile (not only) mess */
@media (hover: hover) {
    header button:hover:enabled {
        border: 4px solid #EEEEEE;
    }

    header button:active:enabled {
        border: 7px double #EEEEEE;
    }

    #playerChoice button:hover:enabled {
        border: 9px solid #EEEEEE;
    }

    #playerChoice button:hover:enabled.winner {
        border: 9px solid green;
    }

    #playerChoice button:hover:enabled.loser {
        border: 9px solid red;
    }

    #playerChoice button:active:enabled {
        border: 15px double #EEEEEE;
    }

    #playerChoice button:active:enabled.winner {
        border: 15px double green;
    }

    #playerChoice button:active:enabled.loser {
        border: 15px double red;
    }

    .tooltip:hover:enabled {
        border: 4px solid #EEEEEE;
    }

    .tooltip:hover:enabled .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

@media only screen and (max-device-width: 1190px) {
    article {
        gap: 128px;
    }

    ul {
        gap: 16px;
    }

    button {
        width: 100px;
        height: 100px;
        font-size: 42px;
        padding: 0px;
    }

    header {
        flex-wrap: wrap;
        gap: 16px;
    }

    #copy,
    #paste {
        order: 1;
    }

    .tooltip:focus {
        border: 4px solid #EEEEEE;
    }

    .tooltip:focus .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}